* {
  box-sizing: border-box;
}

body {
  background-color: #fff6ff;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  /* grid-template-columns: minmax(300px, 1fr); */
  grid-template-columns: 1fr;
  grid-template-rows: 40px 60px 1fr 30px;
  grid-template-areas: "hea" "nav" "mai" "foo";
  gap: 0.1rem;
}

header {
  background-color: greenyellow;
  grid-area: hea;
}

nav {
  background-color: lightblue;
  grid-area: nav;
}

nav.izq {
  background-color: blue;
  display: none;
  grid-area: navi;
}

aside {
  background-color: yellow;
  display: none;
  grid-area: asi;
}

main {
  background-color: lightcoral;
  grid-area: mai;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: minmax(250px, 1fr);
  grid-template-areas: "h2" "p" "cat1" "cat2";
}

main > p {
  grid-area: p;
}

main > h2 {
  grid-area: h2;
  text-align: center;
}

main > img {
  justify-self: center;
  width: 90%;
  height: 60%;
  padding: 0.875rem;
}

main > img.gato1 {
  grid-area: cat1;
}

main > img.gato2 {
  grid-area: cat2;
}

footer {
  background-color: lightgreen;
  grid-area: foo;
}

@media (min-width: 820px) and (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 130px 1fr;
    grid-template-rows: 40px 60px 1fr 30px;
    grid-template-areas: "hea hea" "nav nav" "navi mai" "foo foo";
  }

  nav.izq {
    display: block;
  }

  aside {
    display: none;
  }

  main {
    background-color: lightcoral;
    grid-area: mai;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "h2 h2" "p p " "cat1 cat2";
  }

  footer {
    background-color: lightgreen;
    grid-area: foo;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 130px 1fr 0.2fr;
    grid-template-rows: 40px 60px 1fr 30px;
    grid-template-areas: "hea hea hea" "nav nav nav" "navi mai asi" "foo foo foo";
  }

  img {
    justify-self: center;
    align-self: center;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "h2 h2" "p p" "cat1 cat2";
  }

  nav.izq {
    display: inline-block;
  }

  aside {
    display: inline-block;
  }
}
